:root {
  background-color: #242424;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button{
  padding: 13px;
  border-radius: 7px;
  background-color: #FCBA29;
  font-weight: 700;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
}
.container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);  
}
